@use './_variables' as *
@use './_mixins' as *


// Général
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

// Component Carte
.Card
    height: 300px
    width: 200px
    .cardTop
        width: 100%
        height: 50%
        img
            width: 100%
    .cardBot
        width: 100%
        height: 50%
        padding: 20px
        
    

// Footer
footer
    background-color: lightgray
    height: 100px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    color: gray