@use './_variables' as *
@use './_mixins' as *


// Général
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

// Footer
footer
    background-color: lightgray
    height: 100px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    color: gray