@use './_variables' as *
@use './_mixins' as *


// Général
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif
body
    background-color: $blanc_gris

// Component Carte
.Card
    height: 355px
    width: 300px
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15)
    border-radius: 10px
    overflow: hidden
    cursor: pointer
    transition: 0.2s ease
    &:hover
        transform: scale(105%)
    .cardTop
        width: 100%
        height: 175px
        img
            width: 100%
            height: 100%
            object-fit: cover
    .cardBot
        width: 100%
        height: 160px
        padding: 30px
        display: flex
        flex-direction: column
        position: relative
        .titre
            font-size: 22px
            font-weight: bold
            text-wrap: nowrap
            text-overflow: ellipsis
            overflow: hidden
            width: 100%
        .cardInfos
            display: flex
            flex-direction: column
            gap: 5px
            font-size: 14px
            position: absolute
            bottom: 20px
            color: rgba(0, 0, 0, 0.65)

// Home
.Home
    width: 100%
    padding: 100px
    padding-top: 50px
    display: flex
    flex-direction: column 
    justify-content: center
    align-items: center
    .divFiltres
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 50px
        .divInput
            display: flex
            align-items: center
            background-color: $blanc
            box-shadow: 0px 0px 10px rgba($noir, 0.1)
            border-radius: 10px
            padding: 20px
            padding-left: 30px
            padding-right: 30px
            width: 40%
            gap: 10px
            svg
                fill: rgba($noir, 0.5)
            input
                width: 100%
                padding: 5px
                border: none
                outline: none
                font-size: 16px
            input::placeholder
                color: rgba($noir, 0.5)
        select
            padding: 20px
            border-radius: 10px
            border: none
            box-shadow: 0px 0px 10px rgba($noir, 0.1) 
            outline: none
    .allPays
        width: 100%
        display: grid
        justify-content: space-between
        grid-template-columns: repeat(4, 300px)
        grid-template-rows: repeat(auto-fit, 375px)
        gap: 20px
    
// Page détails
#details
    padding: 50px
    padding-bottom: 150px
    height: calc( 100vh - 90px )
    .divRetour
        padding-bottom: 50px
        button
            padding: 10px 20px
            background-color: $blanc
            border: none
            box-shadow: 0px 0px 10px rgba($noir, 0.1)
            border-radius: 10px
            font-size: 16px
            display: flex
            justify-content: center
            align-items: center
            gap: 5px
            cursor: pointer
            svg
                transform: scaleY(80%)
    .divDetails
        display: flex
        align-items: center
        gap: 100px
        .divImg
            width: 50%
            height: 400px
            img
                width: 100%
                height: 100%
                object-fit: cover
        .divDetailsInfos
            width: 50%
            display: flex
            flex-direction: column
            gap: 40px
            .detailsInfos
                display: flex
                justify-content: space-between
                .detailsInfosGauche
                    display: flex
                    flex-direction: column
                    gap: 10px
                .detailsInfosDroite
                    display: flex
                    flex-direction: column
                    gap: 10px
            .divBorders
                width: 100%
                display: flex
                gap: 10px
                flex-wrap: wrap
                .btnBorders
                    padding: 3px 20px
                    background-color: $blanc
                    border-radius: 5px
                    box-shadow: 0px 0px 5px rgba($noir, 0.15)
                    border: none
                    


// Footer
footer
    background-color: $gris
    height: 100px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    color: gray