$noir: rgb(0,0,0)
$blanc_gris: rgb(250,250,250)
$blanc: rgb(255,255,255)
$gris: lightgray
$grisPur: gray

$noirFoncer: rgb(49, 43, 43)
$noirFoncer_extra: rgb(41, 36, 36)
$noirClaire: rgb(59, 51, 51)

$fleche-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23e3e3e3'%3E%3Cpath d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E";
